/*
* Css通用样式
* 主题色调
* #2775b6
* #3c87be
* #5499c4
* #6eabca
* #8abcd1
***********
* 背景色调
* 渐变start:
* 渐变end:
*/

@modeColor: #8abcd1;

/* 自定义主题变量色 */
@mainColor: #2775b6; // 景泰蓝
@mainLightColor: #8abcd1; // 秋波蓝
.mainColor {
  color: #2775b6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
}

b, strong {
  font-weight: bolder;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  text-decoration: none;
}

.ysj-layout {
  width: 100%;
  min-height: 100vh;
  //background-image: linear-gradient(to right top, #4481eb, #557fef, #647df2, #747bf4, #8378f6, #7b7ffa, #7486fd, #6d8cff, #4d9bff, #2aa8ff, #00b4ff, #04befe);
  //background-image: linear-gradient(118deg, rgba(236, 241, 244,1) 2%,rgba(227, 241, 250,1) 52%);
  //background-image: linear-gradient(to left top, #2775b6, #3c87be, #5499c4, #6eabca, #8abcd1);
  background-color: #4cdc9b;
  background-image: radial-gradient(closest-side, rgba(39, 117, 182, 1), rgba(39, 117, 182, 0)),
  radial-gradient(closest-side, rgba(60, 135, 190, 1), rgba(60, 135, 190, 0)),
  radial-gradient(closest-side, rgba(84, 153, 196, 1), rgba(84, 153, 196, 0)),
  radial-gradient(closest-side, rgba(110, 171, 202, 1), rgba(110, 171, 202, 0)),
  radial-gradient(closest-side, rgb(76, 171, 211), rgba(138, 188, 209, 0));
  background-size: 130vmax 130vmax,
  80vmax 80vmax,
  90vmax 90vmax,
  110vmax 110vmax,
  90vmax 90vmax;
  background-position: -80vmax -80vmax,
  60vmax -30vmax,
  10vmax 10vmax,
  -30vmax -10vmax,
  50vmax 50vmax;
  background-repeat: no-repeat;
  animation: 10s movement linear infinite;
}

@keyframes movement {
  0%, 100% {
    background-size:
            130vmax 130vmax,
            80vmax 80vmax,
            90vmax 90vmax,
            110vmax 110vmax,
            90vmax 90vmax;
    background-position:
              -80vmax -80vmax,
              60vmax -30vmax,
              10vmax 10vmax,
              -30vmax -10vmax,
              50vmax 50vmax;
  }

  25% {
    background-size:
            100vmax 100vmax,
            90vmax 90vmax,
            100vmax 100vmax,
            90vmax 90vmax,
            60vmax 60vmax;
    background-position:
              -60vmax -90vmax,
              50vmax -40vmax,
              0vmax -20vmax,
              -40vmax 20vmax,
              40vmax 60vmax;
  }

  50% {
    background-size:
            80vmax 80vmax,
            110vmax 110vmax,
            80vmax 80vmax,
            60vmax 60vmax,
            80vmax 80vmax;
    background-position:
              -50vmax -70vmax,
              40vmax -30vmax,
              10vmax 0vmax,
              20vmax 10vmax,
              30vmax 70vmax;
  }

  70% {
    background-size:
            90vmax 90vmax,
            90vmax 90vmax,
            100vmax 100vmax,
            90vmax 90vmax,
            70vmax 70vmax;
    background-position:
              -50vmax -40vmax,
              50vmax -30vmax,
              20vmax 0vmax,
              -10vmax 10vmax,
              40vmax 60vmax;
  }
}

.ysj-content {
  position: relative;
  width: 100%;
  .ysj-content-page1 {
    position: relative;
    width: 100%;
    height: 100vh;
    //background-color: #6eabca;
    //background: url("../assets/img/5k_bg.jpg") no-repeat;
    //background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ysj-content-page2 {
    position: relative;
    width: 100%;
    height: 100vh;
    //background-color: #6eabca;
    //background-image: linear-gradient(178.48deg, rgba(32, 80, 60, 1) -1.22%,rgba(145, 217, 164, 1) 88%);
  }
}